/***********************************************************************************/
/*                                                                                 */
/*                           Customize your css here                               */
/*                                                                                 */
/***********************************************************************************/
.VideoWebsite {
  position: relative;
}
.VideoWebsite .banner-video {
  position: relative;
}
.VideoWebsite .banner-video ._7pyy {
  width: 100%;
  max-height: calc(100vh - 70px);
  -o-object-fit: cover;
     object-fit: cover;
}
.VideoWebsite .banner-video .video-button-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.VideoWebsite .banner-video .video-button-wrapper .button {
  margin: 0;
  border-width: 4px;
}

.section_3 .s3_slide {
  position: relative;
}
.section_3 .s3_slide::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../../img/BG.png) no-repeat;
  background-size: 100% 100%;
}
.section_3 .s3_slide .flickity-page-dots {
  z-index: 9;
}
.section_3 .s3_r1 {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 160px;
  transform: translateY(-50%);
}
.section_3 .s3_r1 .image_logo_s3 img {
  width: 130px;
}
.section_3 .s3_r1 .block_s3_text_1 {
  max-width: 400px;
}
.section_3 .s3_r1 .block_s3_text_1 p {
  font-family: "UTM Times";
  font-size: 32px;
  font-style: italic;
  background: linear-gradient(#b6805d, #edbf91);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 38px;
  margin-bottom: 20px;
}
.section_3 .s3_r1 .block_s3_text_2 {
  max-width: 400px;
}
.section_3 .s3_r1 .block_s3_text_2 p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

#main .section_4 {
  min-height: calc(100vh - 70px);
  align-items: end;
}
#main .section_4::after {
  content: "";
  height: calc(60vh - 70px);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(transparent, #4c1830);
}
#main .section_4 .s4_r1 {
  padding-bottom: 20px;
}
#main .section_4 .s4_r1 .block_text_s4_r1 > p {
  font-family: "UTM Times";
  font-size: 30px;
  font-style: italic;
  background: linear-gradient(#b6805d, #edbf91);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 38px;
  margin-bottom: 15px;
  text-align: center;
}
#main .section_4 .s4_r1 .block_text_s4_r2 {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
#main .section_4 .s4_r1 .block_text_s4_r2 .text-icon {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(#b6805d, #edbf91);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
}
#main .section_4 .s4_r1 .block_text_s4_r2 .text-icon i {
  margin-right: 5px;
}

#main .section_5 {
  padding-top: 50px;
  padding-bottom: 30px;
}
#main .section_5 .block_text_s5_title {
  margin-bottom: 60px;
}
#main .section_5 .block_text_s5_title h2 {
  font-family: "UTM Copperplate";
  font-size: 50px;
  text-align: center;
  margin-bottom: 8px;
  line-height: 1;
  color: #b86932;
}
#main .section_5 .block_text_s5_title p {
  margin-bottom: 0;
  color: #5e1237;
  font-family: "UTM Times";
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
#main .section_5 .block_text_s5_content p {
  color: #5e1237;
  font-size: 16px;
  margin-bottom: 12px;
  text-align: justify;
}
#main .section_5 .s5_r2_c2 .col-inner,
#main .section_5 .s5_r2_c2 .img,
#main .section_5 .s5_r2_c2 .img-inner {
  height: 100%;
}
#main .section_5 .s5_r2_c2 .col-inner img,
#main .section_5 .s5_r2_c2 .img img,
#main .section_5 .s5_r2_c2 .img-inner img {
  height: 100%;
}

#main .section_6 {
  padding-top: 100px;
}
#main .section_6 .s6_r1 {
  background: url(../../img/BG_s6.png) no-repeat;
  background-size: 100% 100%;
}
#main .section_6 .s6_r1 .s6_r1_c1 {
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}
#main .section_6 .s6_r1 .s6_r1_c1 .block_text_s6 {
  text-align: center;
}
#main .section_6 .s6_r1 .s6_r1_c1 .block_text_s6 .text-1 {
  color: #641e3f;
  font-size: 34px;
  font-style: italic;
  margin-bottom: 8px;
  font-family: "UTM Times";
}
#main .section_6 .s6_r1 .s6_r1_c1 .block_text_s6 h2 {
  font-family: "UTM Copperplate";
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1;
  color: #b86932;
}
#main .section_6 .s6_r1 .s6_r1_c1 .block_text_s6 .text-2 {
  color: #5e1237;
  font-size: 14px;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 500;
}
#main .section_6 .s6_r1 .s6_r1_c2 {
  margin-bottom: 100px;
}
#main .section_6 .s6_r1 .s6_r1_c2 .s6_r1_c2_r1 {
  max-width: 700px;
  margin: 0 auto;
}
#main .section_6 .s6_r1 .s6_r1_c2 .s6_r1_c2_r1 .s6_r1_c2_r1_c .block_text_s6_p2 h3 {
  color: #4c1830;
  font-size: 16px;
  margin-bottom: 5px;
}
#main .section_6 .s6_r1 .s6_r1_c2 .s6_r1_c2_r1 .s6_r1_c2_r1_c .block_text_s6_p2 p {
  color: #5e1237;
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.3;
}
#main .section_6 .s6_r1 .s6_r1_c2 .s6_r1_c2_r1 .s6_r1_c2_r1_c:last-child::after {
  content: " ";
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  border-right: 1px dashed #5e1237;
  left: unset;
  border-bottom: unset;
}

.row-dashed .col:before, .row-solid .col:before,
.row-dashed .col:after, .row-solid .col:after {
  border-color: #5e1237;
}

#main .section_7 .HomeBanner {
  position: relative;
}
#main .section_7 .HomeBanner::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  right: 0;
  top: 0;
  background: url(../../img/Bs7G.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
#main .section_7 .HomeBanner .list_homeBanner .img_background img {
  height: calc(100vh - 70px);
  width: 100%;
}
#main .section_7 .HomeBanner ._0zzi {
  position: absolute;
  max-width: 450px;
  right: 150px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 30px 0;
}
#main .section_7 .HomeBanner ._0zzi ._3wfv {
  font-size: 25px;
  color: #fff3d7;
  font-family: "UTM Times";
  font-style: italic;
  margin-bottom: 3px;
}
#main .section_7 .HomeBanner ._0zzi ._8cfx {
  font-family: "UTM Copperplate";
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.3;
  background: linear-gradient(#b57f5d, #edbf91);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
#main .section_7 .HomeBanner .nhan-tran-pagination {
  position: relative;
}
#main .section_7 .HomeBanner .nhan-tran-pagination::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 50px);
  background: #fff1de;
  left: -5px;
  top: 50%;
  transform: translate(0, -50%);
}
#main .section_7 .HomeBanner .nhan-tran-pagination .swiper-pagination-bullet {
  width: 100%;
  height: 55px;
  background: transparent;
  border: unset;
  border-radius: unset;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #fff1de;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  opacity: 1;
  position: relative;
}
#main .section_7 .HomeBanner .nhan-tran-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: url(../../img/arr_active.png) no-repeat;
  background-size: 100% 100%;
}
#main .section_7 .HomeBanner .nhan-tran-pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background: #fff1de;
  border-radius: 50%;
  left: -9px;
  top: 50%;
  transform: translateY(calc(-50% + 1px));
}
#main .section_7 .HomeBanner .nhan-tran-pagination .swiper-pagination-bullet ._2rgx {
  color: #fff1de;
  font-family: "UTM Times";
  font-size: 30px;
  margin-right: 12px;
  font-weight: 400;
}
#main .section_7 .HomeBanner ._0wxo {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 30px;
  left: 170px;
}
#main .section_7 .HomeBanner ._0wxo .swiper-pagination {
  display: flex;
  align-items: center;
  gap: 5px;
}
#main .section_7 .HomeBanner ._0wxo .swiper-pagination .bullet {
  cursor: pointer;
  display: block;
  width: 50px;
  height: 7px;
  border-radius: 2px;
  border: 1px solid #b86932;
}
#main .section_7 .HomeBanner ._0wxo .swiper-pagination .bullet.active {
  background: #b86932;
}

#main .section_8 {
  padding-top: 80px;
  padding-bottom: 20px;
}
#main .section_8 .block_text_s8_head {
  margin-bottom: 30px;
}
#main .section_8 .block_text_s8_head p {
  color: #5e1237;
  font-family: "UTM Times";
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 12px;
}
#main .section_8 .block_text_s8_head p span {
  font-family: "UTM Copperplate";
  font-size: 50px;
  color: #b86932;
  font-weight: 700;
}
#main .section_8 .block_text_s8_desc p {
  color: #5e1237;
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
}

#main .section_9 .s9_r1 {
  position: relative;
  top: 80px;
  z-index: 1;
}

#main .section_10 {
  padding-top: 100px;
}
#main .section_10 .block_text_s10_title h2 {
  font-family: "UTM Copperplate";
  font-size: 70px;
  color: #b86932;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
#main .section_10 .s10_r2_c1 .list-rating {
  margin-bottom: 0;
}
#main .section_10 .s10_r2_c1 .list-rating .box-count {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 15px;
}
#main .section_10 .s10_r2_c1 .list-rating .box-count ._9eev {
  color: #5e1237;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #5e1237;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .section_10 .s10_r2_c1 .list-rating .box-count ._5tpg {
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
  line-height: 1.3;
  color: #5e1237;
  font-weight: 300;
}
#main .section_10 .s10_r3 {
  margin-top: 40px;
}

.Slide_SliderHero {
  position: relative;
}
.Slide_SliderHero .MainSlide11::before {
  content: "";
  position: absolute;
  background: url(../../img/BG_overlay_s11.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.Slide_SliderHero .MainSlide11 ._0zzi {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  z-index: 2;
  margin-top: 40px;
}
.Slide_SliderHero .MainSlide11 ._0zzi ._7jyw {
  font-family: "UTM Copperplate";
  font-size: 40px;
  line-height: 1.3;
  background: linear-gradient(#b57f5d, #edbf91);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.3;
}
.Slide_SliderHero .MainSlide11 ._0zzi ._1dxn {
  color: #fff2d2;
  font-family: "UTM Times";
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 12px;
  font-style: italic;
  text-shadow: 2px 2px #644b0a;
}
.Slide_SliderHero .MainSlide11 ._3dqb ._1fee .img_background img {
  width: 100%;
  height: calc(100vh - 70px);
  -o-object-fit: cover;
     object-fit: cover;
}
.Slide_SliderHero ._3ndg {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
.Slide_SliderHero ._3ndg ._5gvw img {
  border-radius: 8px;
}
.Slide_SliderHero ._3ndg ._4rdu .swiper-button-next,
.Slide_SliderHero ._3ndg ._4rdu .swiper-button-prev {
  transform: translateY(20px);
}
.Slide_SliderHero ._3ndg ._4rdu .swiper-button-next::after,
.Slide_SliderHero ._3ndg ._4rdu .swiper-button-prev::after {
  font-size: 30px;
  color: #fff4f0;
}
.Slide_SliderHero ._3ndg ._4rdu .swiper-button-next {
  right: -35px;
}
.Slide_SliderHero ._3ndg ._4rdu .swiper-button-prev {
  left: -35px;
}
.Slide_SliderHero ._3ndg ._6anf {
  color: #ffe9b1;
  font-weight: 600;
  margin-bottom: 20px;
}

#main .section-12 {
  padding-top: 60px;
  padding-bottom: 30px;
}
#main .section-12 .Sun_SlideCard {
  padding-bottom: 30px;
}
#main .section-12 .Sun_SlideCard ._4gxe {
  position: relative;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
}
#main .section-12 .Sun_SlideCard ._4gxe .img_background::after {
  content: "";
  width: 100%;
  height: 40%;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent, #4c1830);
}
#main .section-12 .Sun_SlideCard ._4gxe ._0blo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}
#main .section-12 .Sun_SlideCard ._4gxe ._0blo ._4ypw {
  font-family: "UTM Copperplate";
  font-size: 20px;
  color: #fff;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
}
#main .section-12 .Sun_SlideCard ._4gxe ._0blo ._8ehk {
  font-size: 14px;
  color: #fff;
  line-height: 1.3;
  text-align: center;
  font-weight: 300;
}
#main .section-12 .Sun_SlideCard ._0wxo .swiper-pagination {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
#main .section-12 .Sun_SlideCard ._0wxo .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  display: block;
  width: 50px;
  height: 7px;
  border-radius: 2px;
  border: 1px solid #4c1830;
}
#main .section-12 .Sun_SlideCard ._0wxo .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #4c1830;
}

#main .section-13 .wpcf7-form {
  margin-bottom: 0;
}
#main .section-13 .wpcf7-form ._4nua {
  background: rgba(255, 244, 240, 0.9058823529);
  padding: 80px;
  border-radius: 40px;
}
#main .section-13 .wpcf7-form ._4nua ._7tbb ._9pkj img {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}
#main .section-13 .wpcf7-form ._4nua ._7tbb ._0fsn p {
  color: #5e1237;
  font-family: "UTM Times";
  font-size: 35px;
  font-style: italic;
  margin-bottom: 30px;
  text-align: center;
}
#main .section-13 .wpcf7-form ._4nua ._7tbb ._6ymm p {
  color: #5e1237;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
#main .section-13 .wpcf7-form ._4nua ._7tbb ._6ymm p:last-child {
  margin-bottom: 30px;
}
#main .section-13 .wpcf7-form ._4nua ._2kzi ._8ntv p {
  font-family: "UTM Copperplate";
  color: #5e1237;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 30px;
}
#main .section-13 .wpcf7-form ._4nua ._2kzi ._2ygl {
  margin-bottom: 15px;
}
#main .section-13 .wpcf7-form ._4nua ._2kzi ._2ygl input {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 50px;
  margin-bottom: 0;
  box-shadow: unset;
}
#main .section-13 .wpcf7-form ._4nua ._2frs {
  text-align: center;
}
#main .section-13 .wpcf7-form ._4nua ._2frs .wpcf7-submit {
  margin: 0;
  border-radius: 8px;
}