@charset "UTF-8";
/***********************************************************************************/
/*                                                                                 */
/*                           Customize your css here                               */
/*                                                                                 */
/***********************************************************************************/
#main .section_1 {
  margin-top: -90px;
}

.HomeBanner {
  width: 95vw;
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 0px 40px 40px 40px;
  overflow: hidden;
  position: relative;
}

.HomeBanner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 204px;
  height: 129px;
  background: url(../../img/bo-goc.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.HomeBanner .item_homeBanner {
  position: relative;
}

.HomeBanner .item_homeBanner .img_background {
  height: 700px;
}

.HomeBanner .item_homeBanner .img_background > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.HomeBanner .item_homeBanner ._4wlf {
  position: absolute;
  z-index: 1;
  left: 30px;
  bottom: 50px;
  max-width: 530px;
}

._9ujj {
  color: var(--Neutral-color-White, #FFF);
  font-family: "Anybody SemiExpanded";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 1.3;
  margin-bottom: 4px;
}

._1bsz {
  color: var(--Neutral-color-White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}

._9kid {
  position: relative;
}

.button-flex {
  display: flex;
  align-items: center;
  gap: 8px;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

.myButton {
  height: 45px;
  padding: 16px 24px;
  border-radius: 1000px;
  background: var(--Brand-color-1-Color-4, #F6C019);
  color: var(--Neutral-color-Dark-Grey, #1B1B1B) !important;
  font-family: "Mona Sans Expanded";
  font-size: 16px;
  text-transform: initial;
  font-weight: 500;
}

.myButton > img {
  position: relative;
  top: 0;
}

.HomeBanner .swiper-pagination {
  right: 40px;
  text-align: right;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  left: unset;
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.HomeBanner .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #E9E9DB;
  opacity: 0.5;
}

.HomeBanner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  width: 12px;
  height: 12px;
}

.headding-category .block_text_title {
  width: -moz-max-content;
  width: max-content;
}
.headding-category .block_text_title > p {
  color: var(--Neutral-color-Grey, #414141);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}

.headding-category .block_text_title h2 {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.headding-category .block_text_title .button-text a {
  overflow: hidden;
  color: var(--Brand-color-1-Color-2, #D97628);
  font-family: "Mona Sans Expanded";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
}

.headding-category .block_text_title .button-text a img {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.HomeSlideProduct .item-product {
  border-radius: 24px;
  border: 1px solid rgba(115, 115, 115, 0.25);
  padding: 12px 10px;
}

.HomeSlideProduct .item-product img {
  height: 165px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.HomeSlideProduct .item-product .box-product {
  margin-top: 12px;
  padding: 0 16px;
}

.HomeSlideProduct .item-product .box-product {
  display: flex;
  align-items: flex-end;
}
.HomeSlideProduct .item-product .box-product ._7tei {
  flex: 1;
}
.HomeSlideProduct .item-product .box-product ._7tei ._4hcl {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: Anybody;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4px;
}
.HomeSlideProduct .item-product .box-product ._7tei ._5vld {
  color: var(--Neutral-color-Grey, #414141);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.HomeSlideProduct .item-product .box-product ._5cyg {
  width: 70px;
  text-align: right;
}
.HomeSlideProduct .item-product .box-product ._5cyg .amount {
  color: var(--Brand-color-1-Color-1, #CB4928);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HomeSlideProduct .box-image-product {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.HomeSlideProduct .box-image-product .brd-top {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f7f1e8;
  z-index: 1;
}
.HomeSlideProduct .box-image-product .brd-bottom {
  position: absolute;
  left: -8px;
  bottom: -8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f7f1e8;
  z-index: 1;
}

.headding-category {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.cntt-navigation {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cntt-navigation .cntt-button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 6px 14px 6px 12px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  opacity: 0.5;
  background: rgba(115, 115, 115, 0.25);
}
.cntt-navigation .cntt-button:hover {
  opacity: 1;
}

.GroupProducts {
  display: flex;
  align-items: center;
  -moz-column-gap: 1px;
       column-gap: 1px;
}
.GroupProducts .item-stack {
  flex: 2;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
.GroupProducts .item-stack.active {
  flex: 3;
  transition: all 0.5s;
}
.GroupProducts .item-stack .banner-bg-stack {
  height: 430px;
  overflow: hidden;
}
.GroupProducts .item-stack .banner-bg-stack ._4jtt {
  display: block;
}
.GroupProducts .item-stack .banner-bg-stack ._4jtt img {
  width: 100%;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
}
.GroupProducts .item-stack .text_prod {
  margin-top: 12px;
}
.GroupProducts .item-stack .text_prod ._8tar {
  color: var(--Neutral-color-White, #FFF);
  font-family: Anybody;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
}
.GroupProducts .item-stack .text_prod ._3fbs {
  color: var(--Neutral-color-BG-0, #E9E9DB);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

#main .section_3 {
  padding-top: 70px;
  padding-bottom: 50px;
}
#main .section_3 .section-bg {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  position: absolute;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  border-radius: 32px 32px 0px 0px;
  background: #000;
}

#main .section_4 {
  padding: 70px 0;
}

.s3_r1 {
  margin-bottom: 24px;
}

.text_title_s3 h2 {
  color: var(--Neutral-color-White, #FFF);
  font-family: "Anybody SemiExpanded";
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}

.s3_r1_c2 ._9kid {
  display: flex;
  justify-content: end;
}

#main .section_5 {
  padding-top: 60px;
  padding-bottom: 80px;
}
#main .section_5 .section-bg {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  position: absolute;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  border-radius: 32px 32px 0px 0px;
  background: #000;
}

.image_auto .img-inner img {
  width: auto;
}

.text_block_s5 h2 {
  color: var(--Neutral-color-White, #FFF);
  font-family: "Anybody SemiExpanded";
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(233, 233, 219, 0.5);
}
.text_block_s5 p {
  color: var(--Neutral-color-White, #FFF);
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
}

#main .section_6 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%);
  padding: 120px 0;
}

.form-kn {
  border-radius: 32px;
  border: 1px solid #FFF;
  background: rgba(205, 205, 205, 0.45);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding: 44px 32px 32px 32px;
}
.form-kn ._9ptx h3 {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  text-align: center;
  font-family: "Anybody SemiExpanded";
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 4px;
}
.form-kn ._6vll p {
  color: var(--Neutral-color-Grey, #414141);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
.form-kn .field-group-cf7 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.form-kn .field-group-cf7 input.wpcf7-form-control {
  margin-bottom: 0;
  height: 51px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: unset;
  border: unset;
  font-size: 15px;
}

.BannerWebsite {
  width: 95vw;
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 0px 40px 40px 40px;
  overflow: hidden;
  position: relative;
  margin-top: -90px;
}
.BannerWebsite::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 204px;
  height: 129px;
  background: url(../../img/bo-goc.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.BannerWebsite .banner-view {
  position: relative;
  z-index: 1;
}
.BannerWebsite .banner-view .image-bn {
  height: 680px;
}
.BannerWebsite .banner-view .image-bn img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.BannerWebsite.full-height .banner-view .image-bn {
  height: 680px;
}
.BannerWebsite.sort-height .banner-view .image-bn {
  height: 380px;
}
.BannerWebsite .content-banner {
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 40px;
  max-width: 588px;
}
.BannerWebsite .content-banner._5pca {
  width: 100%;
  max-width: 100%;
  bottom: 0;
  left: 0;
}
.BannerWebsite .content-banner .content-inner .Breadcum {
  margin-bottom: 14px;
  color: var(--Neutral-color-White, #FFF);
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
}
.BannerWebsite .content-banner .content-inner .Breadcum #breadcrumbs {
  margin-bottom: 0;
}
.BannerWebsite .content-banner .content-inner .Breadcum a, .BannerWebsite .content-banner .content-inner .Breadcum span {
  color: var(--Neutral-color-White, #FFF);
}
.BannerWebsite .content-banner .content-inner .Breadcum .breadcrumb_last {
  color: #F6C019;
}
.BannerWebsite .content-banner .content-inner .block_text_banner h2 {
  color: var(--Neutral-color-White, #FFF);
  font-family: "Anybody SemiExpanded";
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.BannerWebsite .content-banner .content-inner .block_text_banner p {
  color: var(--Neutral-color-White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 24px;
}

#main .about_us_2 {
  padding-top: 60px;
}
#main .about_us_2 .text_headding_about h2 {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  text-align: center;
  font-family: "Anybody SemiExpanded";
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#main .about_us_2 .ab2_r2 {
  margin-top: 20px;
  height: 630px;
  background: url(../../img/bg_zz.png) no-repeat;
  animation: moveBackground 8s infinite alternate linear; /* Hiệu ứng */
  background-size: contain;
}

@keyframes moveBackground {
  0% {
    background-position: -200px 0; /* Vị trí ban đầu */
  }
  100% {
    background-position: 200px 0; /* Di chuyển 300px qua phải */
  }
}
.block_text_ab4 h2 {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.block_text_content_ab4 {
  margin-top: 40px;
}
.block_text_content_ab4 h3 {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.block_text_content_ab4 p {
  color: var(--color-grey-20, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  line-height: normal;
}

.widget-filter ._7zcl {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}
.widget-filter ._0rib .filter_label .wpc-filter-chips-list {
  margin-bottom: 0;
  gap: 4px;
  flex-wrap: wrap;
}
.widget-filter ._0rib .filter_label .wpc-filter-chips-list .wpc-filter-chip {
  margin: 0;
}
.widget-filter ._0rib .filter_label .wpc-filter-chips-list .wpc-filter-chip a {
  padding: 4px 8px;
  border-radius: 4px;
  background: rgba(65, 65, 65, 0.1);
  border: unset;
}
.widget-filter ._0rib .filter_label .wpc-filter-chips-list .wpc-filter-chip a span {
  color: var(--Neutral-color-Grey, #414141);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.widget-filter ._0rib .filter-pick .wpc-filters-section {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid rgba(102, 102, 102, 0.2);
  margin-bottom: 0;
}
.widget-filter ._0rib .filter-pick .wpc-filters-section .wpc-filter-header .wpc-filter-title {
  color: var(--color-grey-20, #333);
  font-size: var(--font-size-16, 16px);
  font-style: normal;
  font-weight: var(--font-weight-500, 500);
  line-height: var(--item-spacing-s, 24px);
  margin-bottom: 16px;
  text-transform: uppercase;
}
.widget-filter ._0rib .filter-pick .wpc-filters-section .wpc-filters-ul-list .wpc-checkbox-item .wpc-term-item-content-wrapper input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.widget-filter ._0rib .filter-pick .wpc-filters-section .wpc-filters-ul-list .wpc-checkbox-item .wpc-term-item-content-wrapper input:checked + label:after {
  content: "";
  position: absolute;
  background: #F7A61F;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
}
.widget-filter ._0rib .filter-pick .wpc-filters-section .wpc-filters-ul-list .wpc-checkbox-item .wpc-term-item-content-wrapper label {
  padding-left: 0;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #2d2d2d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.widget-filter ._0rib .filter-pick .wpc-filters-section .wpc-filters-ul-list .wpc-checkbox-item .wpc-term-item-content-wrapper label::before {
  content: "";
  position: relative;
  border: 1px solid #F7A61F;
  width: 16px;
  height: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  margin-right: 8px;
  border-radius: 4px;
}

.product_cate ._4khk {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_cate ._4khk ._7bsv {
  flex: 1;
  margin-right: 30px;
}
.product_cate ._4khk ._7bsv .woocommerce-product-count {
  color: var(--Neutral-color-Grey-Text, #737373);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product_cate ._4khk ._3vky {
  width: 170px;
  margin-left: 30px;
}
.product_cate ._4khk ._3vky .woocommerce-ordering {
  margin: 0;
}
.product_cate ._4khk ._3vky .woocommerce-ordering .orderby {
  margin: 0;
  border-radius: 36px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-shadow: unset;
}
.product_cate .box-product-customize {
  border-radius: 24px;
  border: 1px solid rgba(115, 115, 115, 0.25);
  padding: 12px 10px;
}
.product_cate .box-product-customize .box-image {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.product_cate .box-product-customize .box-image img {
  height: 165px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product_cate .box-product-customize .box-image .image-tools.top.right {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f7f1e8;
  z-index: 1;
  padding: 0;
  opacity: 1;
}
.product_cate .box-product-customize .box-image .image-tools.bottom.left {
  position: absolute;
  left: -8px;
  bottom: -8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f7f1e8;
  z-index: 1;
  padding: 0;
  opacity: 1;
}
.product_cate .box-product-customize .box-text-products {
  padding: 0;
}
.product_cate .box-product-customize .box-text-products .box-product {
  display: flex;
  align-items: flex-end;
  margin-top: 12px;
  padding: 0 16px;
}
.product_cate .box-product-customize .box-text-products .box-product ._7tei {
  flex: 1;
}
.product_cate .box-product-customize .box-text-products .box-product ._7tei ._4hcl {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: Anybody;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4px;
}
.product_cate .box-product-customize .box-text-products .box-product ._7tei ._5vld {
  color: var(--Neutral-color-Grey, #414141);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.product_cate .box-product-customize .box-text-products .box-product ._5cyg {
  width: 70px;
  text-align: right;
}
.product_cate .box-product-customize .box-text-products .box-product ._5cyg .amount {
  color: var(--Brand-color-1-Color-1, #CB4928);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-pagination {
  text-align: left;
}
.nav-pagination li .page-number {
  border-radius: 24px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  background: unset;
  color: var(--color-grey-20, #333);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.nav-pagination li .page-number:hover, .nav-pagination li .page-number.current {
  background: #333;
  color: #fff;
}

.sumary-product .BannerWebsite {
  overflow: unset;
}
.sumary-product .BannerWebsite .image-bn img {
  border-radius: 0px 40px 40px 40px;
}

.woocommerce-message {
  display: none;
}

#main .sumary-product {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 100px;
}
#main .sumary-product .product-main {
  padding: 0;
  position: relative;
  top: 50px;
}
#main .sumary-product .product-main .product-gallery {
  position: relative;
}
#main .sumary-product .product-main .product-gallery img.wp-post-image {
  border-radius: 24px;
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .sumary-product .product-main .product-gallery .zoom-button {
  display: none;
}
#main .sumary-product .product-main .product-info {
  position: relative;
  top: -50px;
}
#main .sumary-product .product-main .product-info .woocommerce-breadcrumb {
  display: none;
}
#main .sumary-product .product-main .product-info .product_title {
  color: var(--Neutral-color-White, #FFF);
  font-family: "Anybody SemiExpanded";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}
#main .sumary-product .product-main .product-info ._3gbn ._2fgp {
  margin-bottom: 0;
}
#main .sumary-product .product-main .product-info ._3gbn ._2fgp ._5rrf {
  list-style: none;
  color: var(--Neutral-color-White, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  opacity: 0.8;
}
#main .sumary-product .product-main .product-info .price-wrapper {
  margin-bottom: 30px;
}
#main .sumary-product .product-main .product-info .price-wrapper .amount {
  color: var(--Neutral-color-BG-0, #fff);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#main .sumary-product .product-main .product-info form .buttons_added {
  display: none;
}
#main .sumary-product .product-main .product-info form .single_add_to_cart_button {
  border-radius: 1000px;
  border: 1px solid var(--Brand-color-1-Color-2, #D97628);
  background: transparent;
  padding: 10px 24px;
  overflow: hidden;
  color: var(--Brand-color-1-Color-2, #D97628);
  font-family: "Mona Sans Expanded";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#main .sumary-product .product-main .product-info form .single_add_to_cart_button.wc-buy-now-btn {
  color: #1B1B1B;
  background: var(--Brand-color-1-Color-4, #F6C019);
}

.product-footer {
  margin-top: 30px;
}
.product-footer .desc_lead_text h2 {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.product-footer .text_desc p {
  color: var(--Neutral-color-Grey, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-footer .ProductsCategories {
  margin-top: 30px;
  padding-bottom: 60px;
}

.block_text_ct2 h2 {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  text-align: center;
  font-family: "Anybody SemiExpanded";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 142.857% */
}

.ct1_r1 .ct1_r1_c1 {
  margin-bottom: 50px;
}
.ct1_r1 .fomr-lien-he ._6cgp {
  margin-bottom: 24px;
}
.ct1_r1 .fomr-lien-he ._6cgp ._9wvr {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.ct1_r1 .fomr-lien-he ._6cgp ._9vbi {
  color: #666;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.ct1_r1 .fomr-lien-he ._9afd ._5ggq {
  margin-bottom: 18px;
}
.ct1_r1 .fomr-lien-he ._9afd ._5ggq ._8xzk {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3px;
}
.ct1_r1 .fomr-lien-he ._9afd ._5ggq ._4usp input,
.ct1_r1 .fomr-lien-he ._9afd ._5ggq ._4usp textarea {
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  height: 50px;
  box-shadow: unset;
  background: transparent;
  margin-bottom: 0;
}

#main .contact_2 .ct2_r1 {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background: #000;
  position: relative;
  min-height: 400px;
}
#main .contact_2 .ct2_r1 .ct2_r1_c2 {
  width: auto;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 1;
}
#main .contact_2 .ct2_r1 .ct2_r1_c2 img {
  width: auto;
}
#main .contact_2 .ct2_r1 .InfoFooter {
  padding-left: 60px;
}
#main .contact_2 .ct2_r1 .InfoFooter ._2nkx:first-child {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #505050;
}
#main .contact_2 .ct2_r1 .InfoFooter ._2nkx:last-child {
  margin-top: 16px;
}
#main .contact_2 .ct2_r1 .InfoFooter ._2nkx ._6yjs {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
#main .contact_2 .ct2_r1 .InfoFooter ._2nkx ._6yjs img, #main .contact_2 .ct2_r1 .InfoFooter ._2nkx ._6yjs i {
  margin-right: 8px;
  color: var(--Neutral-color-White, #F6C019);
}
#main .contact_2 .ct2_r1 .InfoFooter ._2nkx ._6yjs span {
  color: var(--Neutral-color-White, #F6C019);
  font-family: Anybody;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}
#main .contact_2 .ct2_r1 .InfoFooter ._2nkx ._9kpf {
  color: var(--Neutral-color-BG-0, #E9E9DB);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#main .contact_2 .ct2_r1 .InfoFooter ._2nkx ._1dgy {
  color: var(--Neutral-color-BG-0, #E9E9DB);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block_title_lienhe3 {
  padding-left: 60px;
}
.block_title_lienhe3 h2 {
  color: var(--Neutral-color-White, #FFF);
  font-family: "Anybody SemiExpanded";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#main .contact_2 {
  margin-bottom: 80px;
}

.off-canvas .off-canvas-cart .cart-popup-title h4 {
  font-size: 26px;
  color: #2c2c2c;
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-weight: 400;
  flex: 1;
  margin-right: 20px;
}

.off-canvas .off-canvas-cart .cart_list .mini_cart_item > a:not(.remove) {
  color: #040404;
}

.off-canvas .off-canvas-cart .cart_list .mini_cart_item > a:not(.remove):hover {
  color: rgb(1, 34, 105);
}

ul.product_list_widget li a.remove {
  border: unset;
  color: #810000;
  font-size: 24px !important;
}

#cart-popup .widget_shopping_cart_content .woocommerce-mini-cart__buttons .wc-forward:not(.checkout) {
  background: #ffffff;
  border: 1px solid #040404;
  color: #040404;
  font-weight: 400;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

#cart-popup .widget_shopping_cart_content .woocommerce-mini-cart__buttons .wc-forward:not(.checkout):hover {
  color: #040404;
  background: #f1f1f1;
  box-shadow: unset;
}

#cart-popup ul.product_list_widget {
  margin-bottom: 0;
}

#cart-popup .widget_shopping_cart_content .woocommerce-mini-cart__total {
  text-align: left;
  background: #fff;
  border: unset;
  border-radius: 5px;
  border-top: 2px solid #8d8d8d;
  padding-bottom: 5px;
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cart-popup .widget_shopping_cart_content .woocommerce-mini-cart__total strong {
  font-size: 18px;
  color: #2c2c2c;
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-weight: 500;
  margin-right: 10px;
}

#cart-popup .widget_shopping_cart_content .woocommerce-mini-cart__total .woocommerce-Price-amount {
  font-size: 18px;
}

#cart-popup .widget_shopping_cart_content .woocommerce-mini-cart__buttons {
  margin-bottom: 0;
}

#cart-popup .widget_shopping_cart_content .woocommerce-mini-cart__buttons .checkout {
  margin-top: 15px;
  font-weight: 400;
  background: #00456e;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

#cart-popup .widget_shopping_cart_content .product_list_widget .mini_cart_item .variation {
  text-transform: initial;
  font-size: 13px;
  margin: 10px 0;
}

#cart-popup .widget_shopping_cart_content .product_list_widget .mini_cart_item dl.variation dd {
  margin-bottom: 4px;
}

._7iun .account-login-inner ._3pbn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
._7iun .account-login-inner ._3pbn ._6vbq,
._7iun .account-login-inner ._3pbn ._4org,
._7iun .account-login-inner ._3pbn ._1dfv {
  width: 50%;
}
._7iun .account-login-inner ._3pbn ._6vbq,
._7iun .account-login-inner ._3pbn ._1dfv {
  padding-right: 80px;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7nys,
._7iun .account-login-inner ._3pbn ._1dfv ._7nys {
  color: #333;
  margin-bottom: 24px;
  font-family: "Anybody SemiExpanded";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7mui,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui {
  margin-bottom: 0;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7mui .woocommerce-privacy-policy-text,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui .woocommerce-privacy-policy-text {
  color: #333;
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7mui ._1but,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui ._1but {
  margin-bottom: 16px;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7mui ._1but label,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui ._1but label {
  color: #666;
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7mui ._1but input,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui ._1but input {
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  height: 50px;
  box-shadow: unset;
  margin-bottom: 0;
  background: transparent;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7mui ._0zvx,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui ._0zvx {
  margin-bottom: 8px;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7mui ._0zvx .woocommerce-form-login__submit,
._7iun .account-login-inner ._3pbn ._6vbq ._7mui ._0zvx ._5pbl,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui ._0zvx .woocommerce-form-login__submit,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui ._0zvx ._5pbl {
  width: 100%;
  margin: 0;
  border-radius: 1000px;
  background: var(--Brand-color-1-Color-4, #F6C019);
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Mona Sans Expanded";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7mui ._3nzx,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui ._3nzx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._7iun .account-login-inner ._3pbn ._6vbq ._7mui ._3nzx a,
._7iun .account-login-inner ._3pbn ._1dfv ._7mui ._3nzx a {
  color: var(--Brand-color-2-Color-5, #0F5BA7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: 5%; /* 0.7px */
  text-underline-offset: 25%; /* 3.5px */
  text-underline-position: from-font;
}

.banner-view .image-sub {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.banner-view .image-sub img {
  max-width: 200px;
}

.woocommerce-EditAccountForm {
  margin-bottom: 0;
}
.woocommerce-EditAccountForm ._2agj {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.woocommerce-EditAccountForm ._2agj ._6rfy {
  width: 180px;
  margin-right: 30px;
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.woocommerce-EditAccountForm ._2agj ._1tem {
  flex: 1;
}
.woocommerce-EditAccountForm ._2agj ._1tem input, .woocommerce-EditAccountForm ._2agj ._1tem textarea {
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  background: transparent;
  margin-bottom: 0;
  font-size: 14px;
  box-shadow: unset;
}
.woocommerce-EditAccountForm ._2agj ._1tem input {
  height: 50px;
}
.woocommerce-EditAccountForm ._0dxm {
  display: flex;
  justify-content: center;
}
.woocommerce-EditAccountForm ._0dxm .woocommerce-Button {
  height: 45px;
  padding: 16px 24px;
  border-radius: 1000px;
  background: var(--Brand-color-1-Color-4, #F6C019);
  color: var(--Neutral-color-Dark-Grey, #1B1B1B) !important;
  font-family: "Mona Sans Expanded";
  font-size: 16px;
  text-transform: initial;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  min-width: 235px;
  justify-content: center;
}

._9bmv ._6vwj {
  margin-bottom: 24px;
}
._9bmv ._6vwj ._0hgg {
  background: var(--Brand-color-1-Color-1, #CB4928);
  padding: 16px 24px;
  border-radius: 24px 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._9bmv ._6vwj ._0hgg ._3bds ._7ygv {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
._9bmv ._6vwj ._0hgg ._3bds ._7ygv ._8dpe {
  color: var(--Neutral-color-White, #FFF);
  font-family: Anybody;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
._9bmv ._6vwj ._0hgg ._3bds ._7ygv ._8tah {
  color: var(--Neutral-color-White, #FFF);
  font-family: Anybody;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
._9bmv ._6vwj ._0hgg ._3bds ._7ygv ._6kbi {
  color: var(--Neutral-color-White, #FFF);
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
._9bmv ._6vwj ._0hgg ._3bds ._5adt {
  color: var(--Neutral-color-White, #FFF);
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._9bmv ._6vwj ._0hgg ._4vnq ._7asd {
  border-radius: 1000px;
  background: #FFF;
  padding: 8px 24px;
  color: var(--Brand-color-1-Color-1, #CB4928);
  text-align: right;
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
._9bmv ._6vwj ._6pad {
  padding: 16px 40px;
  background: #FFF;
}
._9bmv ._6vwj ._6pad ._6eua {
  display: flex;
  margin-bottom: 24px;
}
._9bmv ._6vwj ._6pad ._6eua ._1vfy {
  width: 200px;
  margin-right: 10px;
}
._9bmv ._6vwj ._6pad ._6eua ._1vfy img {
  border-radius: 12.4px;
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
._9bmv ._6vwj ._6pad ._6eua ._9vyx {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._9bmv ._6vwj ._6pad ._6eua ._9vyx ._7mvh ._0idc {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: Anybody;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
._9bmv ._6vwj ._6pad ._6eua ._9vyx ._7mvh ._0uha {
  color: var(--Neutral-color-Grey, #414141);
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._9bmv ._6vwj ._6pad ._6eua ._9vyx ._6nbf .amount {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Mona Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
._9bmv ._6vwj ._3qej {
  border-top: 1px solid rgba(102, 102, 102, 0.35);
  padding: 16px 40px;
  border-radius: 0 0 24px 24px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._9bmv ._6vwj ._3qej ._0jlq ._0ipk {
  height: 45px;
  padding: 16px 24px;
  border-radius: 1000px;
  background: var(--Brand-color-1-Color-4, #F6C019);
  color: var(--Neutral-color-Dark-Grey, #1B1B1B) !important;
  font-family: "Mona Sans Expanded";
  font-size: 14px;
  text-transform: initial;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}

._4oho {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  max-width: 900px;
  margin: 0 auto;
}
._4oho ._9mcu {
  padding: 24px 40px;
  background: #FFF;
  border-radius: 24px 24px 0 0;
}
._4oho ._9mcu ._7asd {
  border-radius: 1000px;
  background: #fff;
  padding: 8px 24px;
  border: 1px solid var(--Brand-color-1-Color-1, #CB4928);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: -moz-max-content;
  width: max-content;
  color: #CB4928;
}
._4oho ._1jjf {
  padding: 10px 40px;
  background: #FFF;
}
._4oho ._1jjf ._8bdp {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
._4oho ._1jjf ._8bdp ._4zsr {
  width: 190px;
  color: var(--Neutral-color-Grey-Text, #737373);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._4oho ._1jjf ._8bdp ._6pyq {
  margin-left: 20px;
  flex: 1;
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._4oho ._1jjf ._8bdp ._6pyq ._8syk {
  margin-bottom: 0;
}
._4oho ._1jjf ._8bdp ._6pyq ._9hab {
  margin-bottom: 0;
  font-style: italic;
  color: #737373;
}
._4oho ._6pad {
  padding: 10px 40px;
  background: #FFF;
}
._4oho ._6pad ._6eua {
  display: flex;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 24px;
}
._4oho ._6pad ._6eua ._1vfy {
  width: 200px;
  margin-right: 10px;
}
._4oho ._6pad ._6eua ._1vfy img {
  border-radius: 12.4px;
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
._4oho ._6pad ._6eua ._9vyx {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._4oho ._6pad ._6eua ._9vyx ._7mvh ._0idc {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: Anybody;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
._4oho ._6pad ._6eua ._9vyx ._7mvh ._0uha {
  color: var(--Neutral-color-Grey, #414141);
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._4oho ._6pad ._6eua ._9vyx ._6nbf .amount {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Mona Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
._4oho ._4zpb {
  padding: 10px 40px;
  background: #FFF;
}
._4oho ._4zpb ._1lbv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
._4oho ._4zpb ._1lbv ._7yzv {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 200px;
}
._4oho ._4zpb ._1lbv ._8smw {
  flex: 1;
  margin-left: 20px;
  color: var(--Neutral-color-Grey-Text, #737373);
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._4oho ._4zpb ._1lbv ._8smw .amount {
  color: var(--Neutral-color-Grey-Text, #737373);
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._4oho ._5riw {
  padding: 16px 40px;
  background: #FFCC30;
  border-radius: 0 0 24px 24px;
  display: flex;
  justify-content: space-between;
}
._4oho ._5riw ._1sdu {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
._4oho ._5riw ._2wla ._3eih {
  text-align: right;
}
._4oho ._5riw ._2wla ._3eih .amount {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
._4oho ._5riw ._3xdw {
  display: flex;
  align-items: center;
  justify-content: end;
}
._4oho ._5riw ._3xdw span {
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 5px;
}

._0ljg {
  margin-bottom: 35px !important;
}
._0ljg .title-cart {
  margin-top: 40px;
}
._0ljg .title-cart ._9hki {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
._0ljg ._3mzi {
  color: var(--Neutral-color-Grey-Text, #737373);
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

._6jon .main_cart_page .product-thumbnail img {
  border-radius: 12px;
}
._6jon .main_cart_page .product-quantity ._8jan {
  color: var(--Neutral-color-Grey, #414141);
  font-family: "Mona Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._6jon .main_cart_page .product-price .woocommerce-Price-amount {
  color: var(--Brand-color-1-Color-1, #CB4928);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
._6jon .main_cart_page .product-remove {
  text-align: right;
}

.woocommerce-billing-fields__field-wrapper > p.form-row#billing_phone_field {
  overflow: initial;
}

.fl-label {
  z-index: 1;
}

.iti__selected-country-primary {
  padding: 0 13px;
  height: auto;
  position: relative;
  top: 6px;
  background: #FFF !important;
}

.woocommerce-billing-fields__field-wrapper > p.form-row#billing_phone_field .error {
  padding-bottom: 5px;
  border: 1px solid rgb(239, 0, 0);
  border-radius: 5px;
}

.fl-wrap-input .phoneInputBill {
  width: 100%;
}

.validator_text {
  color: rgb(143, 1, 1);
  font-size: 13px;
  position: relative;
}

.iti--inline-dropdown .iti__dropdown-content {
  animation-duration: 0s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 2px 4px 20px 0 rgba(34, 41, 57, 0.1019607843);
  box-sizing: border-box;
  border-radius: 16px;
  z-index: 10;
  border: unset;
}

.iti--inline-dropdown .iti__dropdown-content .iti__search-input {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  background: #ffffff;
  height: 32px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1 !important;
  display: block;
  padding: 4px 15px !important;
  width: calc(100% - 10px);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.iti--inline-dropdown .iti__country-list::-webkit-scrollbar {
  width: 4px;
}

.iti--inline-dropdown .iti__country-list::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}

.iti--inline-dropdown .iti__country-list::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

.iti--inline-dropdown .iti__country-list .iti__country {
  font-size: 13px;
  margin: 0;
  padding: 5px 12px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.iti--inline-dropdown .iti__country-list .iti__country:hover {
  background: #f1f1f1;
}

.iti .iti__selected-dial-code {
  margin-left: 4px;
  padding-top: 3px;
}

._0cdo {
  margin-top: 30px;
  border-radius: 16px;
  background: #FFF;
  padding: 32px;
}
._0cdo ._2teh {
  margin-bottom: 16px;
}
._0cdo ._2teh ._8spt {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: "Anybody SemiExpanded";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
._0cdo ._2teh ._2idb {
  color: var(--Neutral-color-Grey-Text, #737373);
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._0cdo ._1veo {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  padding: 16px;
  margin-bottom: 10px;
}
._0cdo ._1veo ._9alq {
  width: 65px;
  margin-right: 10px;
}
._0cdo ._1veo ._2nfw {
  flex: 1;
}
._0cdo ._1veo ._2nfw ._4ujd {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  font-family: Anybody;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
._0cdo ._1veo ._2nfw ._8udn {
  color: #666;
  font-family: "Mona Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

._0iof ._2dpd,
._0iof ._9gtr {
  font-size: 14px;
  margin-bottom: 15px;
}
._0iof ._7zxn {
  display: none;
}
._0iof .dashboard-links {
  margin-bottom: 0;
}
._0iof .dashboard-links .woocommerce-MyAccount-navigation-link--downloads, ._0iof .dashboard-links .woocommerce-MyAccount-navigation-link--edit-address {
  display: none;
}

._4ajn {
  color: var(--Neutral-color-Dark-Grey, #1B1B1B);
  text-align: center;
  font-family: "Anybody SemiExpanded";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 8px;
}

._0hvp,
._1itc {
  color: var(--Neutral-color-Grey, #414141);
  text-align: center;
  font-family: "Mona Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

#main ._1box {
  padding-bottom: 0;
}