/***********************************************************************************/
/*                                                                                 */
/*                           Customize your css here                               */
/*                                                                                 */
/***********************************************************************************/
.VideoWebsite {
    position: relative;
    .banner-video{
        position: relative;
        ._7pyy{
            width: 100%;
            max-height: calc(100vh - 70px);
            object-fit: cover;
        }
        .video-button-wrapper{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            .button{
                margin: 0;
                border-width: 4px;
            }
        }
    }
}
.section_3{
    .s3_slide{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 55%;
            height: 100%;
            left: 0;
            top: 0;
            background: url(../../img/BG.png) no-repeat;
            background-size: 100% 100%;
        }
        .flickity-page-dots{
            z-index: 9;
        }
    }
    .s3_r1{
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 50%;
        left: 160px;
        transform: translateY(-50%);
        .image_logo_s3 {
            img{
                width: 130px;
            }

        }
        .block_s3_text_1{
            max-width: 400px;
            p{
                font-family: "UTM Times";
                font-size: 32px;
                font-style: italic;
                background: linear-gradient(#b6805d, #edbf91);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 38px;
                margin-bottom: 20px;
            }
        }
        .block_s3_text_2{
            max-width: 400px;
            p{
                font-size: 14px;
                color: #fff;
                margin-bottom: 10px;
            }
        }
    }
}
#main .section_4{
    min-height: calc(100vh - 70px);
    align-items: end;
    &::after{
        content: "";
        height: calc(60vh - 70px);
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(transparent, #4c1830);
    }
    .s4_r1{
        padding-bottom: 20px;
        .block_text_s4_r1 > p{
            font-family: "UTM Times";
            font-size: 30px;
            font-style: italic;
            background: linear-gradient(#b6805d, #edbf91);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 38px;
            margin-bottom: 15px;
            text-align: center;
        }
        .block_text_s4_r2{
            display: flex;
            align-items: center;
            gap: 30px;
            justify-content: center;
            .text-icon{
                margin-bottom: 0;
                display: flex;
                align-items: center;
                background: linear-gradient(#b6805d, #edbf91);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 16px;
                font-weight: 500;
                justify-content: center;
                i{
                    margin-right: 5px;
                }
            }
        }
    }
}
#main .section_5{
    padding-top: 50px;
    padding-bottom: 30px;
    .block_text_s5_title{
        margin-bottom: 60px;
        h2{
            font-family: "UTM Copperplate";
            font-size: 50px;
            text-align: center;
            margin-bottom: 8px;
            line-height: 1;
            color: #b86932;
        }
        p{
            margin-bottom: 0;
            color: #5e1237;
            font-family: "UTM Times";
            font-size: 30px;
            font-style: italic;
            text-align: center;
        }
    }
    .block_text_s5_content{
        p{
            color: #5e1237;
            font-size: 16px;
            margin-bottom: 12px;
            text-align: justify;
        }
    }
    .s5_r2_c2 {
        .col-inner,
        .img ,
        .img-inner{
            height: 100%;
            img{
                height: 100%;
            }
        }
    }
}
#main .section_6{
    padding-top: 100px;
    .s6_r1{
        background: url(../../img/BG_s6.png) no-repeat;
        background-size: 100% 100%;
        .s6_r1_c1 {
            padding-top: 100px;
            padding-left: 30px;
            padding-right: 30px;
            .block_text_s6{
                text-align: center;
                .text-1{
                    color: #641e3f;
                    font-size: 34px;
                    font-style: italic;
                    margin-bottom: 8px;
                    font-family: "UTM Times";
                }
                h2{
                    font-family: "UTM Copperplate";
                    font-size: 50px;
                    text-align: center;
                    margin-bottom: 30px;
                    line-height: 1;
                    color: #b86932;
                }
                .text-2{
                    color: #5e1237;
                    font-size: 14px;
                    text-align: center;
                    max-width: 550px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    font-weight: 500;
                }
            }
        }
        
        .s6_r1_c2 {
            margin-bottom: 100px;
            .s6_r1_c2_r1{
                max-width: 700px;
                margin: 0 auto;
                .s6_r1_c2_r1_c {
                    .block_text_s6_p2{
                        h3{
                            color: #4c1830;
                            font-size: 16px;
                            margin-bottom: 5px;
                        }
                        p{
                            color: #5e1237;
                            font-size: 14px;
                            margin-bottom: 0px;
                            font-weight: 400;
                            line-height: 1.3;
                        }
                    }
                    &:last-child{
                        &::after{
                            content: " ";
                            height: 100%;
                            right: 0;
                            position: absolute;
                            top: 0;
                            border-right: 1px dashed #5e1237;
                            left: unset;
                            border-bottom: unset;
                        }
                    }
                }
            }
        }
    }
}
.row-dashed .col:before, .row-solid .col:before,
.row-dashed .col:after, .row-solid .col:after{
    border-color: #5e1237;
}
#main .section_7{
    .HomeBanner{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 55%;
            height: 100%;
            right: 0;
            top: 0;
            background: url(../../img/Bs7G.png) no-repeat;
            background-size: 100% 100%;
            z-index: 1;
        }
        .list_homeBanner {
            .img_background{
                img{
                    height: calc(100vh - 70px);
                    width: 100%;
                }
            }
        }
        ._0zzi {
            position: absolute;
            max-width: 450px;
            right: 150px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            padding: 30px 0;
            ._3wfv{
                font-size: 25px;
                color: #fff3d7;
                font-family: "UTM Times";
                font-style: italic;
                margin-bottom: 3px;
            }
            ._8cfx{
                font-family: "UTM Copperplate";
                font-size: 50px;
                text-align: center;
                margin-bottom: 30px;
                line-height: 1.3;
                background: linear-gradient(#b57f5d, #edbf91);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 700;
            }
        }
        .nhan-tran-pagination{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: calc(100% - 50px);
                background: #fff1de;
                left: -5px;
                top: 50%;
                transform: translate(0, -50%);
            }
            .swiper-pagination-bullet{
                width: 100%;
                height: 55px;
                background: transparent;
                border: unset;
                border-radius: unset;
                margin: 0;
                display: flex;
                align-items: center;
                padding-left: 30px;
                color: #fff1de;
                font-weight: 300;
                font-size: 14px;
                line-height: 1.2;
                opacity: 1;
                position: relative;
                &.swiper-pagination-bullet-active{
                    background: url(../../img/arr_active.png) no-repeat;
                    background-size: 100% 100%;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 9px;
                    height: 9px;
                    background: #fff1de;
                    border-radius: 50%;
                    left: -9px;
                    top: 50%;
                    transform: translateY(calc(-50% + 1px));
                }
                ._2rgx{
                    color: #fff1de;
                    font-family: "UTM Times";
                    font-size: 30px;
                    margin-right: 12px;
                    font-weight: 400;
                }
            }
        }
        ._0wxo{
            position: absolute;
            z-index: 2;
            width: 100%;
            bottom: 30px;
            left: 170px;
            .swiper-pagination{
                display: flex;
                align-items: center;
                gap: 5px;
                .bullet{
                    cursor: pointer;
                    display: block;
                    width: 50px;
                    height: 7px;
                    border-radius: 2px;
                    border: 1px solid #b86932;
                    &.active{
                        background: #b86932;
                    }
                }
            }
        }
    }
}
#main .section_8{
    padding-top: 80px;
    padding-bottom: 20px;
    .block_text_s8_head{
        margin-bottom: 30px;
        p{
            color: #5e1237;
            font-family: "UTM Times";
            font-size: 35px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 12px;
            span{
                font-family: "UTM Copperplate";
                font-size: 50px;
                color: #b86932;
                font-weight: 700;
            }
        }
    }
    .block_text_s8_desc{
        p{
            color: #5e1237;
            text-align: center;
            font-size: 15px;
            margin-bottom: 30px;
        }
    }
}
#main .section_9{
    .s9_r1{
        position: relative;
        top: 80px;
        z-index: 1;
    }
}
#main .section_10{
    padding-top: 100px;
    .block_text_s10_title{
        h2{
            font-family: "UTM Copperplate";
            font-size: 70px;
            color: #b86932;
            font-weight: 700;
            text-align: center;
            margin-bottom: 50px;
        }
    }
    .s10_r2_c1 .list-rating{
        margin-bottom: 0;
        .box-count{
            display: flex;
            align-items: center;
            font-weight: 600;
            margin-bottom: 15px;
            ._9eev{
                color: #5e1237;
                font-size: 16px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px  solid #5e1237;
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            ._5tpg{
                flex: 1;
                margin-left: 10px;
                font-size: 16px;
                line-height: 1.3;
                color: #5e1237;
                font-weight: 300;
            }
        }
    }
    .s10_r3{
        margin-top: 40px;
    }
}
.Slide_SliderHero {
    position: relative;
    .MainSlide11 {
        &::before{
            content: "";
            position: absolute;
            background: url(../../img/BG_overlay_s11.png) no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        ._0zzi{
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            transform: translate(-50%,0);
            z-index: 2;
            margin-top: 40px;
            ._7jyw{
                font-family: "UTM Copperplate";
                font-size: 40px;
                line-height: 1.3;
                background: linear-gradient(#b57f5d, #edbf91);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 700;
                text-align: center;
                margin-bottom: 20px;
                line-height: 1.3;
            }
            ._1dxn{
                color: #fff2d2;
                font-family: "UTM Times";
                font-size: 30px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 12px;
                font-style: italic;
                text-shadow: 2px 2px #644b0a;
            }
        }
        ._3dqb {
            ._1fee {
                .img_background{
                    img{
                        width: 100%;
                        height: calc(100vh - 70px);
                        object-fit: cover;
                    }
                }
            }
        }
    }
    ._3ndg {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        ._5gvw{
            img{
                border-radius: 8px;
            }
        }
        ._4rdu{
            .swiper-button-next,
            .swiper-button-prev{
                transform: translateY(20px);
                &::after{
                    font-size: 30px;
                    color: #fff4f0;
                }
            }
            .swiper-button-next{
                right: -35px;
            }
            .swiper-button-prev{
                left: -35px;
            }
        }
        ._6anf{
            color: #ffe9b1;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
}
#main .section-12{
    padding-top: 60px;
    padding-bottom: 30px;
    .Sun_SlideCard {
        padding-bottom: 30px;
        ._4gxe {
            position: relative;
            background: #fff;
            border-radius: 30px;
            overflow: hidden;
            .img_background{
                &::after{
                    content: "";
                    width: 100%;
                    height: 40%;
                    background-size: 100% 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(transparent, #4c1830);
                }
            }
            ._0blo{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 20px;
                ._4ypw{
                    font-family: 'UTM Copperplate';
                    font-size: 20px;
                    color: #fff;
                    line-height: 1.3;
                    font-weight: 700;
                    text-align: center;
                }
                ._8ehk{
                    font-size: 14px;
                    color: #fff;
                    line-height: 1.3;
                    text-align: center;
                    font-weight: 300;
                }
            }
        }
        ._0wxo{
            .swiper-pagination{
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: center;
                .swiper-pagination-bullet{
                    cursor: pointer;
                    display: block;
                    width: 50px;
                    height: 7px;
                    border-radius: 2px;
                    border: 1px solid #4c1830;
                    &.swiper-pagination-bullet-active{
                        background: #4c1830;
                    }
                }
            }
        }
    }
}
#main .section-13{
    .wpcf7-form{
        margin-bottom: 0;
        ._4nua{
            background: #fff4f0e7;
            padding: 80px;
            border-radius: 40px;
            ._7tbb{
                ._9pkj{
                    img{
                        width: 150px;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 12px;
                    }
                }
                ._0fsn{
                    p{
                        color: #5e1237;
                        font-family: "UTM Times";
                        font-size: 35px;
                        font-style: italic;
                        margin-bottom: 30px;
                        text-align: center;
                    }
                }
                ._6ymm{
                    p{
                        color: #5e1237;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 400;
                        &:last-child{
                            margin-bottom: 30px;
                        }
                    }
                }
            }
            ._2kzi{
                ._8ntv{
                    p{
                        font-family: "UTM Copperplate";
                        color: #5e1237;
                        text-align: center;
                        font-weight: 700;
                        font-size: 25px;
                        margin-bottom: 30px;
                    }
                }
                ._2ygl{
                    margin-bottom: 15px;
                    input{
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        height: 50px;
                        margin-bottom: 0;
                        box-shadow: unset;
                    }
                }
            }
            ._2frs{
                text-align: center;
                .wpcf7-submit{
                    margin: 0;
                    border-radius: 8px;
                }
            }
        }
    }
}