.absolute-footer {
  display: none;
}

.top_footer {
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid #a96f4a;
}
.top_footer .top_footer_r1_c1 .col-inner {
  display: flex;
  align-items: center;
}
.top_footer .top_footer_r1_c1 .col-inner a {
  width: 50%;
}
.top_footer .top_footer_r1_c1 .col-inner a .icon-box {
  align-items: center;
}
.top_footer .top_footer_r1_c1 .col-inner a .icon-box p {
  color: #a96f4a;
  font-size: 20px;
}
.top_footer .top_footer_r1_c1 .col-inner a:last-child {
  text-align: right;
}
.top_footer .top_footer_r1_c1 .col-inner a:last-child .icon-box {
  justify-content: end;
}
.top_footer .top_footer_r1_c1 .col-inner a:last-child .icon-box .icon-box-text {
  flex: unset;
}

.bottom_footer .bottom_footer_c1 img {
  width: auto;
  max-width: 150px;
}

.customize_footer .s4_r1 .block_text_footer_r1 h2 {
  color: #a96f4a;
  font-family: "UTM Copperplate";
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.customize_footer .s4_r1 .block_text_footer_r2 {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.customize_footer .s4_r1 .block_text_footer_r2 .text-icon {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  color: #d7ad72;
}
.customize_footer .s4_r1 .block_text_footer_r2 .text-icon i {
  margin-right: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d7ad72;
  font-size: 12px;
  color: #333;
}
.customize_footer .stack_isocal {
  width: 200px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}
.customize_footer .stack_isocal .img img {
  width: 55px;
  height: 55px;
}