#masthead{
    .medium-logo-center{
        .flex-left{
            .header-nav-main{
                justify-content: flex-end;
            }
        }
        .flex-right{
            .header-nav-main{
                justify-content: flex-start;
            }
        }
        .header-nav-main{
            .menu-item{
                margin: 0 30px;
                &>a{
                    font-size: 17px;
                    font-weight: 400;
                }
            }
        }
    }
}