#masthead .medium-logo-center .flex-left .header-nav-main {
  justify-content: flex-end;
}
#masthead .medium-logo-center .flex-right .header-nav-main {
  justify-content: flex-start;
}
#masthead .medium-logo-center .header-nav-main .menu-item {
  margin: 0 30px;
}
#masthead .medium-logo-center .header-nav-main .menu-item > a {
  font-size: 17px;
  font-weight: 400;
}